.gadgetbody {
	margin: 0px;
	position:absolute;
	width: 130px;
	height: 130px;
}

#gadgetContent {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 130px;
	height: 130px;
	overflow: hidden;
}